services:
    # Our Flask Application
    flask-app:
        build: .  # Build the image from the Dockerfile in the current directory
        container_name: flask_container_image
        volumes:
        # Mount the local database file into the container for persistence
        - ./FlaskApp/database.db:/app/database.db
        - ./FlaskApp/static/:/app/static/

    # The Nginx Reverse Proxy
    nginx:
        image: nginx:latest
        container_name: nginx_c
        ports:
        - "80:80"  # Map port 80 on the host to port 80 in the container
        volumes:
        # Mount our custom Nginx config
        - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
        - ./FlaskApp/static/:/app/static/
        depends_on:
        - flask-app # Wait for the flask-app service to start first
        