<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Let's add some minimal styling -->
    <style>
        body { font-family: sans-serif; max-width: 800px; margin: auto; padding: 1em; }
        h1 { color: #333; }
    </style>
    <title>{{ page_title }}</title>
</head>

    <p>Below is my three favorite movies:</p>
    <ol>
        {%for mv in movies%}
        <li>{{mv}}</li>
        {%endfor%}
    <ol>